<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cnc_driver">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bill"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bill"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".printer.PrintDoneActivity"/>
        <activity android:name=".view.activity.AddProductActivity"/>
        <activity android:name=".view.activity.StatisticalMonthActivity"/>
        <activity
            android:name=".printer.PrintActivity"
            android:label="@string/title_activity_print"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cnc_driver.view.activity.MainActivity" />
        </activity>
        <activity android:name=".printer.DeviceListActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SplashActivity" />
        <activity android:name=".view.activity.ChooseCategoryActivity" />
    </application>

</manifest>